/*backlog*/


.backlog-right-side{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 180px);
}

.backlog-header{
    width: 94%;
}

.backlog-card{
    width: 94%;
    background-color: rgb(247, 247, 247);
    border: 1px solid lightgray;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    align-items: center;
}

.backlog-card h4{
    margin: 5px;
}

.backlog-card-description-bottom{
    margin: 5px;
    display: flex;
    justify-content: center;
}

.backlog-card-description-bottom div{
    margin: 0 10px;
}


/*changing-status*/

.task-status{
    position: relative;
    display: flex;
}

.task-status:hover{
    cursor: pointer;
}

.dropdown-content{
    display: block;
    position: absolute;
    
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}


.dropdown-content div{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}