/*backlog*/

.right-side-cmpl {
    top: 0;
    left: 180px;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(247, 247, 247, 0.9);
    background-image: url("/img/bgr1-light.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
}

.backlog-right-side {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 2rem;
}

.backlog-header {
    justify-content: space-between;
    width: 100%;
}

.backlog-header-align {
    width: 33%;
}


/* Backlog Card */

.backlog-card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.backlog-border {
    background-color: rgba(41, 49, 51, 0.8);
    color: #d6cecc;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.backlog-card-items {
    min-height: 80px;
    width: 33%;
}

.card-widht-20{
    width: 20%;
}

.card-widht-45{
    width: 45%;
}

.task-urgency {
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.3)inset;
}

.task-urgency-color-1 {
    background-color: red;
}

.task-urgency-color-2 {
    background-color: yellow;
}

.task-urgency-color-3 {
    background-color: green;
}

.big-card-spacer {
    display: flex;
    align-items: flex-end;
}

.big-card-buttons {
  /*  position: absolute;
    top: 0px;
    bottom: 0;*/
    right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.big-card-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #d6cecc;
    border-radius: 0.5rem;
    margin-left: 4px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5)inset;
}

.big-card-menu-button:hover {
    box-shadow: 0px 0px 3px 2px rgba(255, 136, 0, 0.7)inset;
    /*box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.8)inset ;*/
    cursor: pointer;
}
