.board-right-side{
    display: flex;
    justify-content: center;
}

.board-section{
    width: 350px;
    margin: 20px 30px;
    
}

.board-section h2{
    text-align: center;
}

.board-notecard{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.board-notecard-date{
    font-size: 0.8rem;
}

.board-notecard h3{
    margin: 5px 0;
}

.board-notecard-bottom{
    display: flex;
    justify-content: space-between;
}