/**Responsive**/

@media screen and (max-width: 500px) {
    .help-img {
        width: calc(100% + 3rem);
        margin-left: -1.5rem;
    }
}

@media screen and (min-width: 500px) and (max-width:1100px) {
    .help-img {
        width: 100%;
        margin: 0;
    }
}

@media(min-width: 1100px) {
    .help-img {
        width: 80%;
        margin: 0;
    }
}

@media(max-width: 800px) {
    .help-img {
        max-width: 90%;
    }
}

@media(max-width: 650px) {
    .help-img {
        display: none;
    }
}