.log-switch {
    display: none;
}

.login-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("/img/login.jpg");
    background-size: cover;
}

.login-form {
    color: whitesmoke;
    padding: 3rem;
    border-radius: 2rem;
    background-color: rgba(41, 49, 51, 0.9);
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linput {
    background-color: unset;
    border: none;
    height: 2rem;
}

.lsubmit {
    background-color: #293133;
    border: 1px solid #d6cecc;
    color: #d6cecc;
    border-radius: 2rem;
    height: 2rem;
    width: 4rem;
    cursor: pointer;
}

.lsubmit:hover {
    color: #ff8800;
    border: 1px solid #ff8800;
    transition: all 0.5s ease-in-out;
}