body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
}


/* ----- Font-Classes ----- */

html {
    font-size: 16px;
}

.ft-reg {
    font-size: 1.25rem;
    /* 20px */
}

.ft-bld {
    font-weight: 700;
    font-size: 1.25rem;
    /* 20px */
}


/* ----- Multifunctional Classes ----- */

.d-none {
    display: none !important;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-center {
    display: flex;
    width: 100%;
}

.w-100 {
    width: 100%;
}

.w-70 {
    width: 70%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

.w-5 {
    padding-left: 5px;
}

.mrg-btm {
    margin-bottom: 1rem;
}

.mrg-rgt {
    margin-right: 1rem;
}

.mrg-lft {
    margin-left: 1rem;
}

.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.section-headline {
    background-color: rgba(41, 49, 51, 0.9);
    color: #ff8800;
    border: #293133;
    border-radius: 0.7rem;
    padding: 0.25rem;
    margin-bottom: 1rem;
}

.section-headline-font {
    font-size: 1.5rem;
    padding: 0.5rem;
}


/* ----- for active switch on Nav-Links ----- */

.border-lft {
    border-left: 5px transparent solid;
}

.active {
    border-left-color: #ff8800 !important;
    transition: all 0.5s ease-in-out;
}


/*Button*/

.btn-1 {
    background-image: linear-gradient(92.88deg, #d6cecc 9.16%, #d6cecc 43.89%, #d6cecc 64.72%);
    border-radius: 2rem;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 500;
    width: 100%;
    height: 100%;
    /*
    height: 1rem;
    padding: 0 0.2rem;
    */
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-1 {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}


/* ----- Bitte noch einsortieren ----- */


/* #overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
    
    color: transparent;
} */