.task-section {
    width: 400px;
    height: 90%;
    margin: 2rem;
}

.task-background {
    background-color: rgba(41, 49, 51, 0.9);
    padding: 4rem;
    border-radius: 2rem;
    color: #d6cecc;
}

.task-form {
    display: flex;
    flex-direction: column;
}

.task-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    color: #d6cecc;
    background-color: rgba(105, 111, 112, 0.5);
    border-radius: 0.5rem;
    border: unset;
    height: 2rem;
    margin-bottom: 1.1rem;
    margin-top: 0.3rem;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.task-header {
    margin-bottom: 1rem;
}

.task-button {
    width: 100px;
    height: 2rem;
}