.task-section {
    height: 90%;
    margin: 2rem;
}

.section-add-task {
    display: flex;
}

.task-background {
    background-color: rgba(41, 49, 51, 0.9);
    padding: 4rem;
    border-radius: 1rem;
    color: #d6cecc;
    height: 80%;
    width: 100%;
}

.task-form {
    display: flex;
    flex-direction: column;
}

.task-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    color: #d6cecc;
    background-color: rgba(105, 111, 112, 0.5);
    border-radius: 0.5rem;
    border: unset;
    height: 2rem;
    margin-bottom: 1.1rem;
    margin-top: 0.3rem;
}

.form-field-flex {
    display: flex;
    justify-content: space-between;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.task-header {
    margin-bottom: 1rem;
}

.task-button {
    width: 100px;
    height: 2rem;
}

.task-submit {
    background-color: #293133;
    color: #d6cecc;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2)inset;
    padding: 0.5rem;
    border: 1px solid #d6cecc;
    border-radius: 0.5rem;
}

.task-submit:hover {
    box-shadow: 0px 0px 4px 2px rgba(255, 136, 0, 0.7)inset;
}

.task-description {
    height: 80px;
}